/*body {
    background-attachment: scroll;
    background-image: url(tim-marshall-vrh9r3o3NFs-unsplash.jpg);
    background-position: center center;
    background-attachment: fixed;
    background-size: cover;
    background-repeat: no-repeat;
    background-color: black;
    
}
*/


input {
    width:280px;
    background-color:darkslategrey;
    font-size: 28px;
    color:white;
    padding:10px;
    text-align:right;

}
button {
    width:75px;
    height:75px;
    font-size:18px;
    
}
button.funcs {
    background-color:rgb(64, 100, 100);
}
button#zero {
    width:150px;
}